<section class="hero-container">
  <div class="image-wrapper">
    <img src="img/owner-image.png" alt="Manuel Mannhold" class="profile-img">
  </div>

  <div class="text-wrapper">
    <div class="name-titles">
      <span>{{ 'landing.iam' | translate }}</span>
      <h1>Manuel Mannhold</h1>
      <h2>FRONTEND ENTWICKLER</h2>
      <button class="btn-primary pulse" (click)="scrollToContact()">
        {{ 'landing.talk' | translate }}
        <span class="arrow">→</span>
      </button>
    </div>
  </div>
</section>