<app-custom-cursor #cursor></app-custom-cursor>
<app-header></app-header>
<app-landing-page></app-landing-page>

<main class="bento-container">
    <section class="tile about-tile" (mouseenter)="cursor.setHoverState(true, 'Story')"
      (mouseleave)="cursor.setHoverState(false)">
      <app-about></app-about>
    </section>

    <section class="tile stack-tile" (mouseenter)="cursor.setHoverState(true, 'Skills')"
      (mouseleave)="cursor.setHoverState(false)">
      <app-tech-stack></app-tech-stack>
    </section>

    <section class="tile projects-tile" (mouseenter)="cursor.setHoverState(true, 'Work')"
      (mouseleave)="cursor.setHoverState(false)">
      <app-projects></app-projects>
    </section>

    <section class="tile contact-tile" (mouseenter)="cursor.setHoverState(true, 'Contact')"
      (mouseleave)="cursor.setHoverState(false)">
      <app-contact></app-contact>
    </section>
</main>