<div [class.admin-shell-active]="(isAdminMode$ | async) === 'admin'">
  
@if (expandedTile) {
<div class="modal-overlay" (click)="expandedTile = null"></div>
}

<app-admin-indicator></app-admin-indicator>

<app-header [isDetailView]="isDetailView" (backToGrid)="closeModalFromHeader()">
</app-header>

<app-landing-page></app-landing-page>

<main class="bento-container">

    <section class="tile contact-tile" (click)="openDetail(Contact)" (mouseover)="updateCursorHover(true, 'Mehr')"
        (mouseleave)="updateCursorHover(false)">
        <app-contact></app-contact>
      </section>

    <div class="middle-section">
      <section class="tile about-tile" (click)="openDetail(About)" (mouseover)="updateCursorHover(true, 'Mehr')"
        (mouseleave)="updateCursorHover(false)">
        <app-about></app-about>
      </section>

      <section class="tile stack-tile" (click)="openDetail(TechStack)"
        (mouseenter)="updateCursorHover(true, 'Tech Stack')" (mouseleave)="updateCursorHover(false)">
        <app-tech-stack></app-tech-stack>
      </section>

      <section class="tile legal-tile" (click)="openDetail(Legal)" (mouseover)="updateCursorHover(true, 'Mehr')"
        (mouseleave)="updateCursorHover(false)">
        <app-legal></app-legal>
      </section>
    </div>

    <section class="tile projects-tile" (click)="openDetail(Projects)" (mouseenter)="updateCursorHover(true, 'Projects')"
      (mouseleave)="updateCursorHover(false)">
      <app-projects></app-projects>
    </section>

    <app-custom-cursor #appCursor></app-custom-cursor>

  </main>
  </div>