<div class="legal-expanded-container">
    <header class="legal-header">
        <span class="blue-tag">{{'legal-notice.legalnotice' | translate}}</span>
        <h2>{{'legal-notice.title' | translate}}</h2>
    </header>

    <div class="legal-grid">
        <section class="legal-section">
            <div class="section-title">
                <mat-icon>business</mat-icon>
                <h3>{{'legal-notice.imprint' | translate}}</h3>
            </div>
            <div class="legal-text">
                <section>
                    <h2>{{'legal-notice.subheader' | translate}}</h2>
                    <p>Manuel Mannhold<br>
                        Paul-Schreier-Straße 26<br>
                        16761 Hennigsdorf</p>
                </section>
                <section>
                    <h2>{{'legal-notice.contact' | translate}}</h2>
                    <p>E-Mail: <a href="mailto:contact@manuel-mannhold.de">contact&#64;manuel-mannhold.de</a>
                    </p>
                </section>
            </div>
        </section>

        <section class="legal-section">
            <div class="section-title">
                <mat-icon>security</mat-icon>
                <h3>{{'legal-notice.privacy' | translate}}</h3>
            </div>
            <div class="legal-text scrollable">
                <p>{{'policy.subheader' | translate}}</p><br><br>
                <h3>{{'policy.introductionheader' | translate}}</h3><br>
                <p>{{'policy.subintro' | translate}}</p><br>
                <ul>
                    <li>{{'policy.introductiontext1' | translate}}</li>
                    <li>{{'policy.introductiontext2' | translate}}</li>
                    <li>{{'policy.introductiontext3' | translate}}</li>
                </ul><br><br>
                <h3>{{'policy.datarecordheader' | translate}}</h3><br>
                <p>{{'policy.datasub' | translate}}</p><br>
                <ul>
                    <li>{{'policy.data1' | translate}}</li>
                    <li>{{'policy.data2' | translate}}</li>
                    <li>{{'policy.data3' | translate}}</li>
                </ul><br><br>
                <h3>{{'policy.datausedhead' | translate}}</h3><br>
                <p>{{'policy.datausedsub' | translate}}</p><br>
                <ul>
                    <li>{{'policy.dataused1' | translate}}</li>
                    <li>{{'policy.dataused2' | translate}}</li>
                    <li>{{'policy.dataused3' | translate}}</li>
                </ul><br><br>
                <h3>{{'policy.datasafetyheader' | translate}}</h3><br>
                <p>{{'policy.datasafetysub' | translate}}</p><br><br>
                <h3>{{'policy.rightshead' | translate}}</h3><br>
                <p>{{'policy.rightssub' | translate}}</p><br>
                <ul>
                    <li>{{'policy.rights1' |translate}}</li>
                    <li>{{'policy.rights2' | translate}}</li>
                    <li>{{'policy.rights3' | translate}}</li>
                    <li>{{'policy.rights4' | translate}}</li>
                </ul><br>
                <p>{{'policy.rightsend' | translate}}</p><br><br>
                <h3>{{'policy.directivehead' | translate}}</h3><br>
                <p>{{'policy.directive' | translate}}</p><br><br>
                <h3>{{'policy.contactinfohead' | translate}}</h3><br>
                <p>{{'policy.contactssub' | translate}}</p><br>
                <ul>
                    <li>{{'policy.contact1' | translate}}<a href="mailto:contact@manuel-mannhold.de">
                            contact&#64;manuel-mannhold.de</a></li>
                    <li>{{'policy.contact2' | translate}}</li>
                    <li>{{'policy.contact3' | translate}}<a href="tel:+4917683168535"> 017683168535</a></li>
                </ul><br><br>
                <h3>{{'policy.remarksheader' | translate}}</h3><br>
                <p>{{'policy.remarks' | translate}}</p><br><br>
                <p>{{'policy.rigtsreserved' | translate}}</p>
            </div>
        </section>
    </div>
</div>